@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

#root {
  overflow-x: hidden;
  width: 100%;
}

@font-face {
  font-family: medium;
  src: url(../public/fonts/iranyekanwebmedium.woff);
}
@font-face {
  font-family: bold;
  src: url(../public/fonts/iranyekanwebbold.woff);
}
@font-face {
  font-family: regular;
  src: url(../public/fonts/iranyekanwebregular.woff);
}


@font-face {
  font-family: kalamehregular;
  src: url(../public/fonts/Kalameh-Regular.ttf);
}

@font-face {
  font-family: kalamehmedium;
  src: url(../public/fonts/Kalameh-Medium.ttf);
}

@keyframes scaleIn {
  from {
    transform: translate(-50%, -50%) scale(0.85);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
